POSTGRES_DB=linckup
POSTGRES_USER=linckup
POSTGRES_PASSWORD=linckup

DATABASE_URL=postgres://linckup:linckup@postgres:5432/linckup?sslmode=disable
PGSSLMODE=disable
REDIS_URL=redis://redis:6379

JWT_SECRET=change-me-in-production
COOKIE_SECRET=change-me-in-production

NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=auto
NEXT_PUBLIC_DEFAULT_REGION=fr
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_STRIPE_KEY=
DEFAULT_REVIEW_URL=https://www.google.com/search?q=Linckup
