DATABASE_URL=postgres://linckup:linckup@localhost:5432/linckup
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_DEFAULT_REGION=fr
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_STRIPE_KEY=
DEFAULT_REVIEW_URL=https://www.google.com/search?q=Linckup
